{% extends extends_from %}

{% block admin_body_head %}
    <h1>
        Seiten
        <small>Optional description</small>
    </h1>
{% endblock %}

{% block admin_body_content %}
    <div class="box box-default">
        <div class="box-header"><h2 class="box-title">Seite erstellen</h2></div>
        <div class="box-body">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}

{% block xhr_body %}
    {{ form(form) }}
{% endblock %}