{% block xhr_content %}
    {% block xhr_header %}
        <h4 class="xhr-title">{% block xhr_title %}{% endblock %}</h4>
    {% endblock %}
    <div class="xhr-body">
        {% block xhr_body %}
        {% endblock %}
    </div>
    <div class=xhr-footer">
        {% block xhr_footer %}
        {% endblock %}
    </div>
{% endblock %}
