{% block content_node_form %}
    <div class="box box-default">
        <div class="box-header"><h2 class="box-title">Seite erstellen</h2></div>
        <div class="box-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}