{% extends extends_from %}

{% block admin_body_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border"><h3 class="box-title">Menüeinträge bearbeiten</h3></div>
                <div class="box-body">
                    <div class="admin-menu-form">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block xhr_body %}
    <div class="admin-menu-form">
        {{ form(form) }}
    </div>
{% endblock %}