<li class="treeview">
    <a href="#">
        <i class="fa fa-{{ widget.icon }}"></i>
        <span>{{ widget.value }}</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        {% for widget in  widget.linkWidgets %}
            {{ renderWidget(widget) }}
        {% endfor %}
    </ul>
</li>