<div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-4 col-lg-push-8 time-widget">

    <div class="datetime">
        {% set time = date() %}
        <div class="time">
            <span class="hour">{{ time.format('H')}}</span>
            <span class="min">{{ time.format('i')}}</span>
        </div>
        <div class="date">
            <span class="date">{{ time.format('l, d. F ')}}</span>
        </div>

        <script>
            Number.prototype.leadingZeros = function(length) {
                var num = '';
                if(this.toString().length < length) {
                    for (var i = 0; i < length - this.toString().length; i++) {
                        num += '0';
                    }
                }

                return num + this.toString();
            };

            setInterval(function() {
                document.getElementsByClassName('hour')[0].innerHTML = (new Date().getHours()).leadingZeros(2);
                document.getElementsByClassName('min')[0].innerHTML = (new Date().getMinutes()).leadingZeros(2);

            }, 1000);
        </script>
    </div>
</div>