/**
 * Variables
 */
body {

  &.skin-blue {

    .wrapper {
      background-color: transparent;
      background-image: url('/bundles/mmcmfadmin/images/login-screen.jpg');
      background-size: cover;
      background-position: center;
    }

    .main-sidebar {
      background-color: rgba(0, 0, 0, .6);

      .sidebar-menu {
        li:hover>a,
        li.active>a {
          background-color: rgba(0,0,0,.5);
        }

        .treeview-menu {
          background-color: rgba(255,255,255,.1);
        }
      }
    }

    .content-wrapper {
      background-color: rgba(255, 255, 255, 0.1);

      h1 {
        color: #fff;
        font-weight: 100;

        & * {
          color: #fff;
          font-weight: 400;
        }
      }

      .box {
        box-shadow: 0px 0px 100px rgba(0, 0, 0, .4);
        background-color: rgba(255,255,255, .95);
      }
    }

    .main-header {

      .navbar-static-top {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .logo {
        background-color: rgba(0, 0, 0, .2);
      }
    }

    .main-footer {
      background-color: rgba(0, 0, 0, 0.1);
      border-top: none;
      color: #fff;
    }
  }

}


iframe.edit-iframe {
  border: none;
  width: 100%;
  background: #fff;
  height: 100%;
  position: relative;
  transition: all .5s;
}

.viewport-switch {

  text-align: right;
  margin: -15px;

  a {
    display: inline-block;
    font-size: 30px;
    padding: 5px 10px;
    border-right: 1px solid rgba(255,255,255,.2);
    color: #fff;
  }
}

.view-adress-bar {
  .adressbar {
    outline: none;
    display: block;
    width: 100%;
  }
}

.view-navigation {
  a {
    color: #fff;
  }
}

.admin-menu-list {

  padding: 0;
  margin: 0;
  margin-top: -1px;

  .add-sub-item {
    display: none;
    color: #aaa;
    font-size: 12px;

    span.name {
      color: #999;
    }
  }

  .admin-menu-list {
    margin-left: 60px;
    /*min-height: 54px;
    position: relative;

    border-top: 1px dotted #ccc;


    &:before {
      position: absolute;
      left: -60px;
      line-height: 54px;
      top: 0px;
      width: 55px;
      text-align: center;
      color: #3c8dbc;
      font-family: FontAwesome;
      content: '\f148';
      display: inline-block;
      transform: rotate(90deg);
    }*/
  }
}


.admin-menu-options {
  button.menu-add-item {
    float: left;
  }

  button[type=submit] {
    float: right;
  }
}


.admin-menu-item {
  padding: 0px;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  list-style: none;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;

  &.gu-mirror {
    visibility: visible !important;
    z-index: 99999999999 !important;
    ul {
      display: none;
    }
  }

  &.gu-transit {
    & > * {
      visibility: hidden;
    }
    background: fadeOut(#3c8dbc, 40%);
    height: 54px;
  }


  &.showsublist {
    & > ul {
      min-height: 54px;
      position: relative;

      border-top: 1px dotted #ccc;


      &:before {
        position: absolute;
        left: -60px;
        line-height: 54px;
        top: 0px;
        width: 55px;
        text-align: center;
        color: #3c8dbc;
        font-family: FontAwesome;
        content: '\f148';
        display: inline-block;
        transform: rotate(90deg);
      }
    }
  }


  //background: fadeOut(blue, 95%);

  &.no-route {
    background: fadeOut(darkred, 95%);
  }

  .group {
    padding: 10px;
  }

  span.draggable {
    background: #3c8dbc;
    line-height: 35px;
    color: #fff;
    display: inline-block;
    width: 35px;
    text-align: center;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    transition: all .3s;
    border-radius: 2px;
  }

  span.name {
    color: #333;
    display: inline-block;
    min-width: 30%;
  }

  span.route {
    color: #999;
  }

  span.options {
    float: right;
    text-align: right;
  }

  .admin-menu-item {
    //padding-left: 55px;


    span.draggable {

    }
    /*&:before {
      position: absolute;
      left: 10px;
      top: 8px;
      color: #999;
      font-family: FontAwesome;
      content: '\f148';
      display: inline-block;
      transform: rotate(90deg);
    }*/
  }
}
