/**
 * Variables
 */

iframe.edit-iframe {
  border: 1px solid #ccc;
  width: 100%;
  background: #fff;
  height: 100%;
  position: relative;
  transition: all .5s;
}

.viewport-switch {

  text-align: right;
  margin: -15px;

  a {
    display: inline-block;
    font-size: 30px;
    padding: 5px;
    border-right: 1px solid #ccc;
  }
}

.admin-menu-list {

  padding: 0;
  margin: 0;
  margin-top: -1px;

  .add-sub-item {
    display: none;
    color: #aaa;
    font-size: 12px;

    span.name {
      color: #999;
    }
  }

  .admin-menu-list {
    margin-left: 60px;
    /*min-height: 54px;
    position: relative;

    border-top: 1px dotted #ccc;


    &:before {
      position: absolute;
      left: -60px;
      line-height: 54px;
      top: 0px;
      width: 55px;
      text-align: center;
      color: #3c8dbc;
      font-family: FontAwesome;
      content: '\f148';
      display: inline-block;
      transform: rotate(90deg);
    }*/
  }
}


.admin-menu-options {
  button.menu-add-item {
    float: left;
  }

  button[type=submit] {
    float: right;
  }
}


.admin-menu-item {
  padding: 0px;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  list-style: none;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;

  &.gu-mirror {
    visibility: visible !important;
    z-index: 99999999999 !important;
    ul {
      display: none;
    }
  }

  &.gu-transit {
    & > * {
      visibility: hidden;
    }
    background: fadeOut(#3c8dbc, 40%);
    height: 54px;
  }


  &.showsublist {
    & > ul {
      min-height: 54px;
      position: relative;

      border-top: 1px dotted #ccc;


      &:before {
        position: absolute;
        left: -60px;
        line-height: 54px;
        top: 0px;
        width: 55px;
        text-align: center;
        color: #3c8dbc;
        font-family: FontAwesome;
        content: '\f148';
        display: inline-block;
        transform: rotate(90deg);
      }
    }
  }


  //background: fadeOut(blue, 95%);

  &.no-route {
    background: fadeOut(darkred, 95%);
  }

  .group {
    padding: 10px;
  }

  span.draggable {
    background: #3c8dbc;
    line-height: 35px;
    color: #fff;
    display: inline-block;
    width: 35px;
    text-align: center;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    transition: all .3s;
    border-radius: 2px;
  }

  span.name {
    color: #333;
    display: inline-block;
    min-width: 30%;
  }

  span.route {
    color: #999;
  }

  span.options {
    float: right;
    text-align: right;
  }

  .admin-menu-item {
    //padding-left: 55px;


    span.draggable {

    }
    /*&:before {
      position: absolute;
      left: 10px;
      top: 8px;
      color: #999;
      font-family: FontAwesome;
      content: '\f148';
      display: inline-block;
      transform: rotate(90deg);
    }*/
  }
}
