/**
 * Variables
 */

@import "../public/vendor/font-awesome/less/font-awesome.less";
@fa-font-path: "/bundles/mmcmfadmin/vendor/font-awesome/fonts";

iframe.edit-iframe {
  border: 1px solid #ccc;
  width: 100%;
  background: #fff;
  height: 100%;
  position: relative;
  transition: all .5s;
}

.viewport-switch {

  text-align: right;
  margin: -15px;

  a {
    display: inline-block;
    font-size: 30px;
    padding: 5px;
    border-right: 1px solid #ccc;
  }
}

.admin-menu-list {

  padding: 0;
  margin: 0;

  .add-sub-item {
    display: none;
    color: #aaa;
    font-size: 12px;

    span.name {
      color: #999;
    }
  }
}

.admin-menu-item {
  padding: 0px;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  margin-top: -1px;
  list-style: none;
  position: relative;

  &.gu-mirror {
    visibility: visible !important;
    z-index: 99999999999 !important;
  }

  &.gu-transit {
    visibility: hidden;
  }

  &.showsublist {
    & > ul {
      min-height: 30px;

      border: 2px dashed #ccc;
      margin: 10px;
      padding: 10px;

      &:before {
        content: 'place your subitems here';
      }
    }
  }

  background: fadeOut(blue, 95%);

  &.no-route {
    background: fadeOut(darkred, 95%);
  }

  .group {
    padding: 10px;
  }

  span.draggable {
    display: inline-block;
    width: 20px;
    color: #ccc;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    transition: all .3s;
  }

  span.name {
    color: #333;
    display: inline-block;
    min-width: 30%;
  }

  span.route {
    color: #999;
  }

  span.options {
    float: right;
  }

  .admin-menu-item {
    padding-left: 30px;

    &:before {
      position: absolute;
      left: 10px;
      top: 8px;
      color: #999;
      font-family: FontAwesome;
      content: '\f148';
      display: inline-block;
      transform: rotate(90deg);
    }
  }
}
