<div class="navbar-custom-menu pull-left live-edit-toolbar">
    <ul class="nav navbar-nav">
        <li>
            <a href="#" class="refresh"><i class="fa fa-refresh"></i> <span>Refresh</span></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-arrows"></i> <span>Endgerät simulieren</span>
            </a>
            <ul class="dropdown-menu viewport-switch">
                <li><a class="viewport-toggle" data-viewport="xs"><i class="fa fa-mobile"></i> <span>Smartphone</span></a></li>
                <li><a class="viewport-toggle" data-viewport="sm"><i class="fa fa-tablet"></i> <span>Tablet</span></a></li>
                <li><a class="viewport-toggle" data-viewport="md"><i class="fa fa-laptop"></i> <span>Laptop</span></a></li>
                <li><a class="viewport-toggle" data-viewport="lg"><i class="fa fa-desktop"></i> <span>Desktop</span></a></li>
            </ul>
        </li>
        <li>
            <a rel="modal" href="{{ path('mm_cmf_admin_page_new') }}">
                <i class="fa fa-file-o"></i> <span>Seite hinzufügen</span>
            </a>

        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus"></i> <span>Inhalte hinzufügen</span>
            </a>
            <ul class="dropdown-menu">
                {% for discrimator in factory.discrimators %}
                    <li>
                        <a href="{{ path('mm_cmf_admin_contentnode_new', {'contentnode_type' : discrimator}) }}" rel="modal" data-fetch-root="true">
                            <i class="fa fa-align-left"></i> <span>{{ discrimator }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>